<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">About</h1>
  </div>
</div>

<div class="container">
  <h4 class="mb-4">Who we are</h4>
  <p>We're a team of five Rice undergrads. We're one of the teams on Rice Apps.</p>
  <h6>Leads:</h6>
  <p>Cade Ritter, Kevin Chang</p>
  <h6>Developers:</h6>
  <p>Thera Fu, Noushin Quazi, Parker Graham</p>
  <hr class="my-5">
  <h4 class="mb-4">Our stack</h4>
  <p>Our frontend is made with Angular 5, written entirely in Typescript and transpiled to Javascript and bundled with CSS and HTML using Webpack.</p>
  <p>Our backend is made with Express.js, a Node webserver.</p>
  <p>We use MongoDB for our database.</p>
  <hr class="my-5">
  <h4 class="mb-4">Get in contact</h4>
  <p>Questions, comments, or concerns? Feel free to email us at <a href="mailto:riceucsclub@gmail.com">riceucsclub@gmail.com.</a></p>
</div>
