<div class="container post-container">
    <div class="card my-4 post-card" *ngFor="let report of reports"
         [ngClass]="{'reviewed-success': !report.post?.removed && report.reviewed, 'reviewed-failure': report.post?.removed}">
        <div class="card-body">
            <p><strong>Reason</strong>: {{report.reason}}</p>
            <p><strong>Reviewed</strong>: {{report.reviewed}}</p>
            <p><strong>Removed</strong>: {{report.post?.removed}}</p>
            <div class="card my-4">
                <div class="card-body">
                    <p class="font-weight-bold" *ngIf="report.post">{{report.post.title}}</p>
                    <p *ngIf="report.post">{{report.post.body}}</p>
                </div>
            </div>
            <div *ngIf="!report.reviewed">
                <button type="button" class="btn btn-outline-success" (click)="ReportReviewed(true, report)">Don't remove</button>
                <button type="button" class="btn btn-outline-danger" (click)="ReportReviewed(false, report)">Remove</button>
            </div>
        </div>
    </div>
</div>
