.post-container {
    width: 60%;
    margin:0 auto;
    max-width: 750px;
}

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}


@media only screen and (max-width : 768px) {
  .post-container {
    width: 100%;
  }
}

.post-card {
  box-shadow: 0 10px 15px 0 rgba(136, 136, 136, 0.15);
  border: 3px solid rgba(0,0,0,.125);
}

.comment-card {
  border: 2px solid rgba(0, 0, 0, .125);
}

.vote-caret {
  -webkit-transition: transform 0.3s;
  -moz-transition: transform 0.3s;
  -ms-transition: transform 0.3s;
  -o-transition: transform 0.3s;
  transition: transform 0.3s;
  cursor: pointer;
  color: lightgray;
}

.vote-caret-up:hover {
  -webkit-transform: translateY(-5px);
  -moz-transform: translateY(-5px);
  -ms-transform: translateY(-5px);
  -o-transform: translateY(-5px);
  transform: translateY(-5px);
}

.vote-caret-down:hover {
  -webkit-transform: translateY(5px);
  -moz-transform: translateY(5px);
  -ms-transform: translateY(5px);
  -o-transform: translateY(5px);
  transform: translateY(5px);
}

.btn-hover {
  -webkit-transition: transform 0.15s, box-shadow 0.15s;
  -moz-transition: transform 0.15s, box-shadow 0.15s;
  -ms-transition: transform 0.15s, box-shadow 0.15s;
  -o-transition: transform 0.15s, box-shadow 0.15s;
  transition: transform 0.15s, box-shadow 0.15s;
}

.btn-hover:hover {
  -webkit-transform: translateY(-2px);
  -moz-transform: translateY(-2px);
  -ms-transform: translateY(-2px);
  -o-transform: translateY(-2px);
  transform: translateY(-2px);
}

.upvoted {
  color: #535353;
}

.downvoted {
  color: #535353;
}
