<div class="container post-container">
        <div class="card mb-4 post-card">
            <div class="card-header">
            <h4>{{getPost().title}}</h4>
            </div>
            <div class="card-body">
            <p class="card-text">{{getPost().body}}</p>
            <button *ngIf="getIsMyPost()" class="btn btn-primary" (click)="delete()">Delete</button>
            </div>


        </div>

        <div class="card post-card">
            <form class="mx-4 my-4">
                <div class="form-group">
                <textarea type="email" class="form-control" id="commentInput" placeholder="Share your thoughts..." rows='5' #text></textarea>
                </div>
                <button class="btn btn-primary" (click)="comment(text.value);text.value=''">Submit</button>

            </form>
        </div>

        <div *ngFor="let comment of getPost().comments" class="card m-2">
            <div class="card-body">
              {{comment.body}}
            </div>
        </div>
</div>

