<div class="jumbotron jumbotron-fluid mb-0 text-center" style="background-color: #ffffff; padding: 150px 0 150px 0;">
  <div class="container">
    <h1 class="display-3" style="font-family: Helvetica">Beakspeak</h1>
    <p class="lead text-center">The anonymous social network for Rice</p>
    <hr class="my-4">
    <p class="lead ">
      <a class="btn btn-primary btn-lg" [attr.href]="authUrl" role="button">Login with netID</a>
    </p>
  </div>
</div>

<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h4>Totally anonymous</h4>
        <p>text text text text text text text text text text text text text text text text text </p>
      </div>
      <div class="col-md-4">
        <h4>text text</h4>
        <p>text text text text text text text text text text text text text text text text text text text text text text text </p>
      </div>
      <div class="col-md-4">
        <h4>text</h4>
        <p>text text text text text text text text text text text text text text text text text text text </p>
      </div>
    </div>
  </div>
</div>
