.post-container {
  width: 60%;
  margin:0 auto;
  max-width: 750px;
}

.post-card {
  box-shadow: 0 10px 15px 0 rgba(136, 136, 136, 0.15);
  border: 3px solid rgba(0,0,0,.125);
}

.list-group {
  max-height: 200px;
  overflow: auto;
}


.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.avatar {
  max-width: 115%;
  height: auto;
  border-radius: 10px;
}

.spinner {
  color: rgb(0, 22, 58);
}

@media only screen and (max-width : 768px) {
  .post-container {
    width: 100%;
  }
  .avatar{
    max-width:140%;
  }
  .collapse-caret {
    display: block;
    height: auto !important;
    visibility: visible;
  }
}

@media (min-width: 768px) {
  .collapse.dont-collapse-sm {
    display: block;
    height: auto !important;
    visibility: visible;
  }

  .collapse-caret {
    display: none;
    visibility: hidden;
  }
}

.collapse-caret {
  color: lightgray;

}



.vote-caret {
  -webkit-transition: transform 0.3s;
  -moz-transition: transform 0.3s;
  -ms-transition: transform 0.3s;
  -o-transition: transform 0.3s;
  transition: transform 0.3s;
  cursor: pointer;
  color: lightgray;
}

.vote-caret-up:hover {
  -webkit-transform: translateY(-5px);
  -moz-transform: translateY(-5px);
  -ms-transform: translateY(-5px);
  -o-transform: translateY(-5px);
  transform: translateY(-5px);
}

.vote-caret-down:hover {
  -webkit-transform: translateY(5px);
  -moz-transform: translateY(5px);
  -ms-transform: translateY(5px);
  -o-transform: translateY(5px);
  transform: translateY(5px);
}

.upvoted {
  color: #535353;
}

.downvoted {
  color: #535353;
}
.nav>li>a {
  padding: 4px;
  margin: 1px;
}
.nav>li>a>span{
  margin-left: 1px;
}

